<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="appURL" value="https://p3uat.sahaj.co.in:8080/web/guest/home"/>
<parameter name="browserType" value="chrome"/>
   <test name="sample test">
    <classes>  
    	<!-- <class name="RBL.SubmitApplicationForm"/>
    	<class name="RBL.DuplicateApplicationForm"/> -->
    	<class name="RBL.MISReport"/>
    </classes>
  </test> 
</suite> 
